.login-container {
  width: 450px; 
  padding: 30px; 
  border: 3px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: #f9f9f9;

  /* Centering styles */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-heading {
  text-align: center;
  margin-top: 50px;
  font-size: 40px; 
  font-weight: 800;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 36px; 
}

.input-group {
  margin-bottom: 20px;
  margin-right: 25px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
}

.input-group input {
  width: 100%;
  padding: 12px; 
  font-size: 14px; 
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;  
  padding: 14px; 
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}